/*¶©µ¥Ò³Ãæ*/
.mother {
    margin-top: 60px;
    overflow: hidden;
    zoom: 1;
}

.moth_head {
    width: 100%;
    height: 100px;
    background: #f7f8f9;
    border: 1px solid #DDDDDD;
    float: left;
}

.moth_head strong {
    float: left;
    height: 64px;
    line-height: 60px;
    margin: 18px 0px 0px 32px;
    background: url("../images/ic_payreceipt.png") no-repeat 1px 1px;
    padding-left: 98px;
    font-size: 24px;
    color: #312d3b;
}

.moth_tbl {
    width: 100%;
    float: left;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
}

.moth_tbl table {
    width: 100%;
    float: left;
    margin: 0px;
    border: none;
    padding: 0px;
}

.moth_tbl table tr {
    background: #fff;
    border-top: 1px solid #ddd;
    width: 100%;
    float: left;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    color: #312D3B;
    text-align: left;
}

.moth_tbl table tr:first-child {
    background: #F7F7F7;
    border: none;
    height: 40px;
    line-height: 40px;
}

.moth_tbl tbody {
    width: 1118px;
    float: left;
    margin: -1px 0px 0px -2px;
}

.moth_tbl table tr th {
    color: rgba(49, 45, 59, 0.54);
    font-weight: normal;
    float: left;
    text-align: center;
}

.moth_tbl table tr td {
    float: left;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.moth_tbl .m_t_1 {
    width: 280px;
    margin-left: 25px;
    margin-right: 20px;
}

.moth_tbl .m_t_2 {
    width: 160px;
    margin-left: 25px;
    margin-right: 20px;
}

.moth_tbl .m_t_3 {
    width: 210px;
    margin-left: 25px;
    margin-right: 20px;
}

.moth_tbl .m_t_4 {
    width: 210px;
    margin-left: 25px;
    margin-right: 20px;
}

.moth_tbl .m_t_5 {
    width: 50px;
    margin-right: 25px;
}

.moth_tbl .m_t_5 a {
    cursor: pointer;
}

.moth_tbl .m_t_5 a:hover {
    text-decoration: underline;
}

.moth_tbl table tr td.m_t_4 {
    color: #F64D41;
}

.mother h4 {
    width: 100%;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.54);
    margin-top: 10px;
    float: left;
}

.moth_int, .moth_int h3 {
    width: 100%;
    float: left;
}

.moth_int h3 {
    margin-top: 60px;
    padding-bottom: 11px;
    border-bottom: 1px solid #E7E7E7;
    height: 40px;
    line-height: 28px;
    margin-bottom: 40px;
}

.moth_int h3 span {
    font-size: 20px;
    color: #312D3B;
    font-weight: 900;
    border-bottom: 2px solid #548BEE;
    padding-bottom: 10px;
}

.moth_int h3 i {
    margin-left: 10px;
    font-size: 12px;
    color: #F64D41;
}

.moth_ifo p {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.moth_ifo p input[type=text] {
    background: #F7F7F7;
    width: 350px;
    height: 48px;
    border: 1px solid #DDDDDD;
    line-height: 48px;
    font-size: 14px;
    padding: 0px 15px;
    color: rgba(49, 45, 59, 0.38);
    color: #333;
}

.moth_ifo .moth_ifoi input[type=text] {
    width: 190px;
    margin-right: 20px;
}

.moth_ifo .moth_ifoi button {
    width: 140px;
    line-height: 48px;
    height: 48px;
    text-align: center;
    color: #fff;
    background: #548BEE;
    cursor: pointer;
}

.moth_ifo .moth_ifo3 {
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.54);
}

.moth_ifo .moth_ifo3 input {
    float: left;
    margin-right: 9px;
    margin-top: 4px;
}

.moth_ifo .moth_ifo3 a {
    color: #548BEE;
}

.moth_ipy ul li {
    width: 180px;
    height: 70px;
    float: left;
    margin-right: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.moth_ipy .moth_ipy1 {
    background: url("../images/list_payment_wechat.png") no-repeat 2px 1px;
}

.moth_ipy .moth_ipy2 {
    background: url("../images/list_payment_jd.png") no-repeat 1px 4px;
}

.moth_ipy .moth_ipy3 {
    background: url("../images/list_payment_alipay.png") no-repeat 1px 1px;
}

.moth_ipy ul li.m_on {
    border: 2px solid #548BEE;
}

.moth_ipy p {
    width: 100%;
    float: left;
    margin-top: 60px;
}

.moth_ipy p button {
    width: 350px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #548BEE;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.moth_ifo p b {
    font-size: 14px;
    margin-left: 15px;
    color: #ff0000;
}