.icon_right_arrow:before {
  content: "\e6d9";
}
header {
  width: 100%;
  height: 1.2rem;
  background-image: linear-gradient(0deg, #4C4C50 1%, #2F3032 100%);
  background-color: #4c4c50;
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}
[data-dpr='1'] header {
  font-size: 16px;
}
[data-dpr='2'] header {
  font-size: 32px;
}
[data-dpr='3'] header {
  font-size: 48px;
}
header .icon_right_arrow {
  color: #fff;
  position: relative;
  z-index: 5;
}
[data-dpr='1'] header .icon_right_arrow {
  font-size: 15px;
}
[data-dpr='2'] header .icon_right_arrow {
  font-size: 30px;
}
[data-dpr='3'] header .icon_right_arrow {
  font-size: 45px;
}
header .icon_right_arrow:before {
  color: #fff;
  margin: 0 0.10666667rem 0 0.2rem;
  margin-top: 0.04rem;
  vertical-align: middle;
}
[data-dpr='1'] header .icon_right_arrow:before {
  font-size: 22px;
}
[data-dpr='2'] header .icon_right_arrow:before {
  font-size: 44px;
}
[data-dpr='3'] header .icon_right_arrow:before {
  font-size: 66px;
}
header h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.top_zhanwei {
  height: 1.2rem;
}
.icon_warning:before {
  content: "\e6fc";
}
a {
  display: block;
}
body,
html,
.layout {
  background-color: #f9fbfd;
}
.banner {
  width: 100%;
  height: 2.26666667rem;
  background: url(../images/bg_product.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 0.4rem 0.53333333rem;
  color: #FFFFFF;
  position: relative;
}
.banner .info {
  width: 6.53333333rem;
}
.banner .text {
  color: #FFFFFF;
  line-height: 0.56rem;
}
[data-dpr='1'] .banner .text {
  font-size: 14px;
}
[data-dpr='2'] .banner .text {
  font-size: 28px;
}
[data-dpr='3'] .banner .text {
  font-size: 42px;
}
.banner .time {
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  width: 100%;
}
.banner .btn {
  position: absolute;
  top: 0.26666667rem;
  right: 0.53333333rem;
  color: #FFFFFF;
  border: 0.02666667rem solid #FFFFFF;
  border-radius: 0.05333333rem;
  width: 2.66666667rem;
  height: 0.64rem;
  text-align: center;
  line-height: 0.56rem;
  display: inline-block;
  margin-top: 0.26666667rem;
}
.nav {
  width: 100%;
  height: 1.70666667rem;
  padding: 0 0.26666667rem;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
  position: relative;
}
.nav:before {
  width: 1px;
  height: 0.93333333rem;
  content: "";
  position: absolute;
  top: 0.37333333rem;
  left: 50%;
  background-color: #F0F0F0;
}
.nav li {
  float: left;
  width: 50%;
  text-align: center;
  padding-left: 0.93333333rem;
  line-height: 1.65333333rem;
}
.nav .img-box {
  width: 0.85333333rem;
  height: 0.82666667rem;
  margin-right: 0.26666667rem;
  float: left;
  vertical-align: middle;
}
.img-box img {
  width: 100%;
  vertical-align: middle;
}
.nav .title {
  float: left;
  color: #585757;
  font-weight: 600;
}
[data-dpr='1'] .nav .title {
  font-size: 16px;
}
[data-dpr='2'] .nav .title {
  font-size: 32px;
}
[data-dpr='3'] .nav .title {
  font-size: 48px;
}
.thetop {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0.26666667rem;
  width: 100%;
  position: relative;
  margin-top: 0.26666667rem;
  background-color: #fff;
  padding-bottom: 0.26666667rem;
}
.thetop a {
  display: block;
}
.thetop .title-top {
  color: rgba(49, 45, 59, 0.54);
  height: 1.06666667rem;
  position: relative;
}
[data-dpr='1'] .thetop .title-top {
  font-size: 12px;
}
[data-dpr='2'] .thetop .title-top {
  font-size: 24px;
}
[data-dpr='3'] .thetop .title-top {
  font-size: 36px;
}
.thetop .title-top:before {
  content: "";
  position: absolute;
  top: 0.34666667rem;
  left: -0.13333333rem;
  width: 0.05333333rem;
  height: 0.34666667rem;
  background-color: #548BEE;
}
.thetop .title-top .name {
  color: #40404A;
  float: left;
  line-height: 1.06666667rem;
}
[data-dpr='1'] .thetop .title-top .name {
  font-size: 16px;
}
[data-dpr='2'] .thetop .title-top .name {
  font-size: 32px;
}
[data-dpr='3'] .thetop .title-top .name {
  font-size: 48px;
}
.thetop .title-top .change-time {
  color: rgba(49, 45, 59, 0.54);
  float: right;
  line-height: 1.06666667rem;
}
[data-dpr='1'] .thetop .title-top .change-time {
  font-size: 12px;
}
[data-dpr='2'] .thetop .title-top .change-time {
  font-size: 24px;
}
[data-dpr='3'] .thetop .title-top .change-time {
  font-size: 36px;
}
.thetop .product {
  width: 2.56rem;
  height: 2.13333333rem;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  text-align: center;
}
.thetop .info {
  width: 6.56rem;
  height: 2.13333333rem;
}
.thetop .info .title {
  color: #666;
  font-weight: 600;
}
[data-dpr='1'] .thetop .info .title {
  font-size: 17px;
}
[data-dpr='2'] .thetop .info .title {
  font-size: 34px;
}
[data-dpr='3'] .thetop .info .title {
  font-size: 51px;
}
.thetop .info .btn {
  border-radius: 100px;
  width: 1.97333333rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  float: right;
  border: 1px solid #F64D41;
  color: #F64D41;
}
[data-dpr='1'] .thetop .info .btn {
  font-size: 12px;
}
[data-dpr='2'] .thetop .info .btn {
  font-size: 24px;
}
[data-dpr='3'] .thetop .info .btn {
  font-size: 36px;
}
.thetop .info .change {
  color: #7DABFF;
  border: 1px solid #7DABFF;
}
.thetop .info .des {
  margin-top: 0.26666667rem;
  color: rgba(49, 45, 59, 0.54);
  line-height: 0.48rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
[data-dpr='1'] .thetop .info .des {
  font-size: 13px;
}
[data-dpr='2'] .thetop .info .des {
  font-size: 26px;
}
[data-dpr='3'] .thetop .info .des {
  font-size: 39px;
}
.thetop .num {
  font-size: 0.61333333rem;
  color: #F64D41;
  letter-spacing: -0.35px;
  line-height: 0.90666667rem;
  margin-top: 0.26666667rem;
}
.thetop .name {
  color: rgba(49, 45, 59, 0.38);
}
.add-more {
  color: rgba(121, 121, 123, 0.54);
  line-height: 1.12rem;
  background: #F9F9F9;
  text-align: center;
  height: 1.12rem;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0.26666667rem;
  cursor: pointer;
}
[data-dpr='1'] .add-more {
  font-size: 14px;
}
[data-dpr='2'] .add-more {
  font-size: 28px;
}
[data-dpr='3'] .add-more {
  font-size: 42px;
}
.videos {
  background-color: #fff;
  padding-bottom: 0.53333333rem;
  padding: 0 0.26666667rem;
}
.videos .title-top {
  color: #40404A;
  height: 1.06666667rem;
  position: relative;
}
[data-dpr='1'] .videos .title-top {
  font-size: 12px;
}
[data-dpr='2'] .videos .title-top {
  font-size: 24px;
}
[data-dpr='3'] .videos .title-top {
  font-size: 36px;
}
.videos .title-top .icon-new {
  float: left;
  width: 0.98666667rem;
  margin-top: 0.34666667rem;
  margin-right: 0.13333333rem;
}
.videos .title-top .icon-new img {
  width: 100%;
}
.videos .title-top .name {
  color: #40404A;
  float: left;
  line-height: 1.06666667rem;
}
[data-dpr='1'] .videos .title-top .name {
  font-size: 16px;
}
[data-dpr='2'] .videos .title-top .name {
  font-size: 32px;
}
[data-dpr='3'] .videos .title-top .name {
  font-size: 48px;
}
.videos .title-top .change-time {
  color: rgba(49, 45, 59, 0.54);
  float: right;
  line-height: 1.06666667rem;
}
[data-dpr='1'] .videos .title-top .change-time {
  font-size: 12px;
}
[data-dpr='2'] .videos .title-top .change-time {
  font-size: 24px;
}
[data-dpr='3'] .videos .title-top .change-time {
  font-size: 36px;
}
.videos .content {
  padding: 0.26666667rem 0;
}
.videos .img-box {
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  height: 1.97333333rem;
  width: 3.46666667rem;
}
.videos .img-box span {
  position: absolute;
  left: 0px;
  top: 0px;
  color: #fff;
  height: 0.48rem;
  line-height: 0.48rem;
  width: 0.96rem;
  text-align: center;
  background: #548BEE;
}
.videos .info {
  width: 5.73333333rem;
  line-height: 0.50666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: #79797B;
}
[data-dpr='1'] .videos .info {
  font-size: 13px;
}
[data-dpr='2'] .videos .info {
  font-size: 26px;
}
[data-dpr='3'] .videos .info {
  font-size: 39px;
}
.footer {
  text-align: center;
  color: rgba(64, 64, 74, 0.38);
  line-height: 1.5;
  padding: 0.26666667rem 0 0.8rem;
}
.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
}
.mask .content {
  width: 8rem;
  position: absolute;
  top: 2.13333333rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 0.16rem;
}
.mask .close-btn {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 0.74666667rem;
  background: #fff;
  position: absolute;
  font-size: 0.69333333rem;
  top: -1.17333333rem;
  right: 0.26666667rem;
}
.mask .close-btn:before {
  content: "";
  position: absolute;
  top: 0.74666667rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.10666667rem;
  height: 0.48rem;
  background: #fff;
  z-index: -1;
}
.countdown-mask .content {
  height: 11.73333333rem;
}
.countdown-mask h4 {
  text-align: center;
  width: 100%;
  height: 3.2rem;
  background: #ff0000 url(../images/bg_product.jpg) no-repeat 0px -1px;
  background-size: 100% 100%;
  color: #FFF;
  letter-spacing: 1px;
  vertical-align: middle;
  padding-top: 0.53333333rem;
  border-radius: 0.16rem 0.16rem 0 0;
}
[data-dpr='1'] .countdown-mask h4 {
  font-size: 16px;
}
[data-dpr='2'] .countdown-mask h4 {
  font-size: 32px;
}
[data-dpr='3'] .countdown-mask h4 {
  font-size: 48px;
}
.countdown-mask h4 i {
  font-size: 1.92rem;
  font-style: normal;
  font-weight: 900;
  vertical-align: middle;
  margin: 0 0.16rem;
}
.countdown-mask .info {
  padding: 0.26666667rem 0.4rem 0;
  color: #312D3B;
  text-align: center;
}
[data-dpr='1'] .countdown-mask .info {
  font-size: 16px;
}
[data-dpr='2'] .countdown-mask .info {
  font-size: 32px;
}
[data-dpr='3'] .countdown-mask .info {
  font-size: 48px;
}
.countdown-mask .qr-img {
  width: 4rem;
  height: 4rem;
  margin: 0.13333333rem 0 0;
}
.countdown-mask .text {
  text-align: left;
  line-height: 0.58666667rem;
}
.overdue-mask .content {
  height: 9.97333333rem;
}
.overdue-mask h4 {
  text-align: center;
  width: 100%;
  height: 2.29333333rem;
  background: #f3bd4c url(../images/bg_product.jpg) no-repeat 0px -1px;
  background-size: 100% 100%;
  color: #FFF;
  letter-spacing: 1px;
  vertical-align: middle;
  line-height: 0.53333333rem;
  padding-top: 0.53333333rem;
  border-radius: 0.16rem 0.16rem 0 0;
}
[data-dpr='1'] .overdue-mask h4 {
  font-size: 16px;
}
[data-dpr='2'] .overdue-mask h4 {
  font-size: 32px;
}
[data-dpr='3'] .overdue-mask h4 {
  font-size: 48px;
}
.overdue-mask h4 span:nth-child(1) {
  width: 0.64rem;
  height: 0.64rem;
  line-height: 0.66666667rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: #f3bd4c;
  background: #fff;
  font-size: 0.53333333rem;
  margin-right: 0.13333333rem;
  display: inline-block;
  vertical-align: middle;
}
.overdue-mask .info {
  padding: 0.26666667rem 0.4rem 0;
  color: #312D3B;
  text-align: center;
  height: 6.4rem;
}
[data-dpr='1'] .overdue-mask .info {
  font-size: 16px;
}
[data-dpr='2'] .overdue-mask .info {
  font-size: 32px;
}
[data-dpr='3'] .overdue-mask .info {
  font-size: 48px;
}
.overdue-mask .qr-img {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0.13333333rem 0 0;
}
.overdue-mask .buy-btn {
  width: 100%;
  height: 1.33333333rem;
  background: #F3BD4C;
  text-align: center;
  line-height: 1.33333333rem;
  color: #FFF;
  border-radius: 0 0 0.16rem 0.16rem;
}
[data-dpr='1'] .overdue-mask .buy-btn {
  font-size: 16px;
}
[data-dpr='2'] .overdue-mask .buy-btn {
  font-size: 32px;
}
[data-dpr='3'] .overdue-mask .buy-btn {
  font-size: 48px;
}
/*信息补全*/
.info-mask .info-content {
  width: 9.2rem;
  position: absolute;
  top: 2.13333333rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 0.16rem;
  height: 6.66666667rem;
}
.info-mask .title {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  border-bottom: 1px solid #E7E7E7;
  padding: 0 0.26666667rem;
}
[data-dpr='1'] .info-mask .title {
  font-size: 13px;
}
[data-dpr='2'] .info-mask .title {
  font-size: 26px;
}
[data-dpr='3'] .info-mask .title {
  font-size: 39px;
}
.info-mask .fail_fom {
  padding: 0 0.26666667rem;
  height: 4.26666667rem;
}
.info-mask .fail_fom li {
  height: 0.96rem;
  line-height: 0.96rem;
  border-bottom: 1px solid #E7E7E7;
}
.info-mask .fail_fom li label {
  float: left;
}
.info-mask .fail_fom li input {
  float: right;
}
.info-mask .fail_fom li div {
  float: right;
}
.info-mask .fail_fom .fail_fom_ro {
  height: 1.33333333rem;
  padding-top: 0.26666667rem;
}
.info-mask .fail_fom .fail_fom_ro div span {
  width: 1.65333333rem;
  height: 0.8rem;
  line-height: 0.8rem;
  display: inline-block;
  text-align: center;
  margin-left: 8px;
}
.info-mask .fail_fom .fail_fom_ro label {
  width: 100%;
  height: 100%;
  background: #F3F5F8;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  color: rgba(49, 45, 59, 0.54);
}
.info-mask .fail_fom .fail_fom_ro .ro_on {
  border: 1px solid #548BEE;
  color: #548BEE;
}
.info-mask #fname {
  line-height: 0.96rem;
  text-align: right;
}
.info-mask .submit-btn {
  width: 100%;
  height: 1.33333333rem;
  background: #548BEE;
  text-align: center;
  line-height: 1.33333333rem;
  color: #FFF;
  border-radius: 0 0 0.16rem 0.16rem;
}
[data-dpr='1'] .info-mask .submit-btn {
  font-size: 16px;
}
[data-dpr='2'] .info-mask .submit-btn {
  font-size: 32px;
}
[data-dpr='3'] .info-mask .submit-btn {
  font-size: 48px;
}
/*公告*/
.notice-mask .content {
  height: 12rem;
}
.notice-mask .content h4 {
  background-image: url("../images/bg_product.jpg") !important;
  height: 2.45333333rem !important;
  background-size: 100% 100%;
}
/*公告*/
.notice2-mask .content {
  height: 9.33333333rem;
}
.notice2-mask .content h4 {
  background-image: url("../images/bg_product.jpg") !important;
  height: 2.45333333rem !important;
  background-size: 100% 100%;
}
.notice {
  float: left;
  overflow: hidden;
  width: 100%;
  padding: 0 0.53333333rem;
  background: #fff;
  padding-bottom: 0.8rem;
}
.notice .h5 {
  position: relative;
  width: 100%;
  margin-top: 0.8rem;
  text-align: center;
}
.notice .h5 span {
  position: relative;
  z-index: 10;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  height: 0.64rem;
  line-height: 0.58666667rem;
  padding: 0 0.37333333rem;
  letter-spacing: 0.02666667rem;
}
[data-dpr='1'] .notice .h5 span {
  font-size: 14px;
}
[data-dpr='2'] .notice .h5 span {
  font-size: 28px;
}
[data-dpr='3'] .notice .h5 span {
  font-size: 42px;
}
.notice .h5_1 span {
  background: #fef2f2;
  border: 1px solid rgba(246, 77, 65, 0.54);
  color: #F64D41;
}
.notice .h5_2 span {
  background: #f3f7fe;
  color: #548BEE;
  border: 1px solid rgba(84, 139, 238, 0.54);
}
.notice .h5_3 span {
  background: #f0f0f1;
  border: 1px solid rgba(49, 45, 59, 0.17);
  color: #000000;
}
.notice .h5:after {
  content: "";
  width: 100%;
  border-bottom: 1px dashed #DDDDDD;
  position: absolute;
  margin-top: 0.32rem;
  left: 0;
  top: 0;
}
.notice .notice_t {
  width: 100%;
  display: block;
}
.notice .notice_t span {
  display: inline-block;
  width: 50%;
  padding: 0 0.13333333rem;
  height: 0.58666667rem;
  line-height: 0.58666667rem;
  color: #000000;
  margin-top: 0.26666667rem;
  text-align: center;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-dpr='1'] .notice .notice_t span {
  font-size: 13px;
}
[data-dpr='2'] .notice .notice_t span {
  font-size: 26px;
}
[data-dpr='3'] .notice .notice_t span {
  font-size: 39px;
}
.notice2 {
  width: 7.73333333rem;
  padding: 0.4rem 0 0 0.4rem;
  overflow-x: auto;
  height: auto;
  max-height: 8.37333333rem;
  position: relative;
  margin-right: 0.2rem;
}
i {
  font-style: normal;
}
.notice2 h2 {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  color: #548BEE;
  overflow: hidden;
  margin-bottom: 0.26666667rem;
}
[data-dpr='1'] .notice2 h2 {
  font-size: 18px;
}
[data-dpr='2'] .notice2 h2 {
  font-size: 36px;
}
[data-dpr='3'] .notice2 h2 {
  font-size: 54px;
}
[data-dpr='4'] .notice2 h2 {
  font-size: 72px;
}
.notice2 h2:before {
  content: "";
  width: 0.48rem;
  height: 0.48rem;
  background: url("http://m8.zqt888.cn/images/product/stock.png") no-repeat;
  background-size: 100% 100%;
  float: left;
  margin-right: 0.13333333rem;
  margin-top: 0.05333333rem;
}
.gogao {
  width: 100%;
  float: left;
  margin-bottom: 0.53333333rem;
}
.gog_by {
  width: 100%;
  float: left;
}
.gog_by .gog_left {
  position: relative;
  width: 0.05333333rem;
  background: #F2F2F2;
  min-height: 0.21333333rem;
  margin-left: 0.21333333rem;
  float: left;
  top: 0.26666667rem;
}
.gog_by .gog_left i {
  float: left;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-radius: 50%;
  background: #A2C0F6;
  margin-left: -0.08rem;
}
.gog_by .gog_left .gogl_1 {
  margin-top: 0;
}
.gog_by .gog_left .gogl_2 {
  margin-top: 1.09333333rem;
}
.gog_by .gog_left .gogl_3 {
  margin-top: 1.17333333rem;
}
.gog_by .gog_left .gogl_4 {
  margin-top: 1.17333333rem;
}
.gog_right {
  width: 6.66666667rem;
  float: left;
  padding-left: 0.34666667rem;
}
.gog_right h3 {
  color: #312D3B;
  height: 0.56rem;
  line-height: 0.56rem;
  width: 100%;
  float: left;
  font-weight: 900;
}
[data-dpr='1'] .gog_right h3 {
  font-size: 15px;
}
[data-dpr='2'] .gog_right h3 {
  font-size: 30px;
}
[data-dpr='3'] .gog_right h3 {
  font-size: 45px;
}
[data-dpr='4'] .gog_right h3 {
  font-size: 60px;
}
.gog_right p {
  color: rgba(0, 0, 0, 0.54);
  height: 0.56rem;
  line-height: 0.56rem;
  width: 100%;
  float: left;
  margin-bottom: 0.26666667rem;
}
[data-dpr='1'] .gog_right p {
  font-size: 15px;
}
[data-dpr='2'] .gog_right p {
  font-size: 30px;
}
[data-dpr='3'] .gog_right p {
  font-size: 45px;
}
[data-dpr='4'] .gog_right p {
  font-size: 60px;
}
.gog_right p i {
  color: #548BEE;
  /* margin: 0 -0.3333333rem; */
}
