.icon_right_arrow:before {
  content: "\e6d9";
}
header {
  width: 100%;
  height: 1.2rem;
  background-color: #4a4a4a;
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}
[data-dpr='1'] header {
  font-size: 16px;
}
[data-dpr='2'] header {
  font-size: 32px;
}
[data-dpr='3'] header {
  font-size: 48px;
}
header .icon_right_arrow {
  color: #fff;
}
[data-dpr='1'] header .icon_right_arrow {
  font-size: 15px;
}
[data-dpr='2'] header .icon_right_arrow {
  font-size: 30px;
}
[data-dpr='3'] header .icon_right_arrow {
  font-size: 45px;
}
header .icon_right_arrow:before {
  margin: 0 0.10666667rem 0 0.21333333rem;
  margin-top: 0.08rem;
  vertical-align: middle;
}
[data-dpr='1'] header .icon_right_arrow:before {
  font-size: 22px;
}
[data-dpr='2'] header .icon_right_arrow:before {
  font-size: 44px;
}
[data-dpr='3'] header .icon_right_arrow:before {
  font-size: 66px;
}
header .h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.top_zhanwei {
  height: 1.2rem;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
/*�б�*/
.play_list {
  float: left;
  width: 100%;
}
.wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 0.4rem !important;
  background: #fff !important;
}
.wrap ul li {
  width: 100%;
  float: left;
  padding: 0.4rem 0;
  border-top: 1px solid #E7E7E7;
}
.wrap ul li:first-child {
  border: none;
}
.wrap ul li:active {
  background: #f7f7f7;
}
.img_box {
  width: 3.46666667rem;
  height: 1.94666667rem;
  position: relative;
}
.img_box img {
  width: 100%;
  height: 100%;
}
.img_box .identity {
  width: 1.17333333rem;
  height: 0.48rem;
  line-height: 0.50666667rem;
  text-align: center;
  color: #fff;
  background: #548BEE;
  position: absolute;
  top: 0;
  left: 0;
}
[data-dpr='1'] .img_box .identity {
  font-size: 10px;
}
[data-dpr='2'] .img_box .identity {
  font-size: 20px;
}
[data-dpr='3'] .img_box .identity {
  font-size: 30px;
}
.img_box .zb {
  background: #b2464d;
}
.img_box .yg {
  background: #bb9a37;
}
.img_box .hk {
  background: #4172c8;
}
.content {
  width: 5.46666667rem;
}
.content .title {
  color: #312D3B;
  line-height: 0.69333333rem;
  max-height: 1.28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
[data-dpr='1'] .content .title {
  font-size: 16px;
}
[data-dpr='2'] .content .title {
  font-size: 32px;
}
[data-dpr='3'] .content .title {
  font-size: 48px;
}
.content .time {
  margin-top: 0.26666667rem;
  color: rgba(49, 45, 59, 0.54);
  letter-spacing: -0.4px;
}
[data-dpr='1'] .content .time {
  font-size: 12px;
}
[data-dpr='2'] .content .time {
  font-size: 24px;
}
[data-dpr='3'] .content .time {
  font-size: 36px;
}
#pullrefresh {
  top: 1.2rem;
}
.mui-scroll {
  left: 0;
  padding: 0 0.4rem;
}
.wrapa {
  top: 0 !important;
}
