html {
  background: #f9fbfd;
}
@font-face {
  font-family: 'iconfont';
  /* project id 234040 */
  src: url('//at.alicdn.com/t/font_5jquavtsug7j5rk9.eot');
  src: url('//at.alicdn.com/t/font_5jquavtsug7j5rk9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_5jquavtsug7j5rk9.woff') format('woff'), url('//at.alicdn.com/t/font_5jquavtsug7j5rk9.ttf') format('truetype'), url('//at.alicdn.com/t/font_5jquavtsug7j5rk9.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0;
  -moz-osx-font-smoothing: grayscale;
}
.layout {
  width: 100%;
  float: left;
  margin-top: 0.4rem;
}
.box {
  width: 100%;
  float: left;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 0.4rem;
  background: #fff;
  margin-bottom: 0.4rem;
  box-shadow: 0 0 0.26666667rem 0.08rem rgba(208, 229, 255, 0.2);
}
.box .h1 {
  width: 100%;
  float: left;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  color: #020202;
  font-weight: 900;
  margin-bottom: 0.34666667rem;
}
[data-dpr='1'] .box .h1 {
  font-size: 18px;
}
[data-dpr='2'] .box .h1 {
  font-size: 36px;
}
[data-dpr='3'] .box .h1 {
  font-size: 54px;
}
[data-dpr='4'] .box .h1 {
  font-size: 72px;
}
.b_t1 {
  width: 100%;
  float: left;
}
.b_t1 img {
  width: 4.8rem;
  height: 2.69333333rem;
  float: left;
}
.b_t1 p {
  width: 4rem;
  float: right;
  color: rgba(53, 57, 66, 0.54);
  line-height: 0.53333333rem;
  height: 2.66666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
[data-dpr='1'] .b_t1 p {
  font-size: 14px;
}
[data-dpr='2'] .b_t1 p {
  font-size: 28px;
}
[data-dpr='3'] .b_t1 p {
  font-size: 42px;
}
[data-dpr='4'] .b_t1 p {
  font-size: 56px;
}
.b_t2 {
  width: 100%;
  height: 0.45333333rem;
  line-height: 0.45333333rem;
  float: left;
  margin-top: 0.32rem;
  position: relative;
}
[data-dpr='1'] .b_t2 {
  font-size: 12px;
}
[data-dpr='2'] .b_t2 {
  font-size: 24px;
}
[data-dpr='3'] .b_t2 {
  font-size: 36px;
}
[data-dpr='4'] .b_t2 {
  font-size: 48px;
}
.b_t2 p {
  float: left;
  position: relative;
  left: 0;
  top: 0;
  height: 0.45333333rem;
  width: 100%;
}
.b_t2 p span {
  color: rgba(49, 45, 59, 0.38);
  float: left;
  margin-right: 0.18666667rem;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 2;
  padding-right: 0.26666667rem;
}
.b_t2 p i {
  position: absolute;
  right: 0;
  background: #FFECED;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #CB6A68;
  padding: 0 0.21333333rem;
}
[data-dpr='1'] .b_t2 p i {
  font-size: 10px;
}
[data-dpr='2'] .b_t2 p i {
  font-size: 20px;
}
[data-dpr='3'] .b_t2 p i {
  font-size: 30px;
}
[data-dpr='4'] .b_t2 p i {
  font-size: 40px;
}
.b_t2:before {
  content: "";
  width: 100%;
  height: 0.02666667rem;
  background: #E7E7E7;
  position: absolute;
  left: 0;
  top: 0.21333333rem;
}
.b_t3 {
  width: 100%;
  float: left;
  margin-top: 0.42666667rem;
}
.b_t3 a {
  width: 25%;
  float: left;
  position: relative;
  padding: 0.8rem 1% 0 1%;
  text-align: center;
  background: url("../images/inty.png") no-repeat;
  background-size: 0.82666667rem auto;
  color: rgba(49, 45, 59, 0.54);
  line-height: 0.45333333rem;
}
[data-dpr='1'] .b_t3 a {
  font-size: 12px;
}
[data-dpr='2'] .b_t3 a {
  font-size: 24px;
}
[data-dpr='3'] .b_t3 a {
  font-size: 36px;
}
[data-dpr='4'] .b_t3 a {
  font-size: 48px;
}
.b_t3 a:after {
  content: "";
  background: #E7E7E7;
  width: 0.02666667rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 0.26666667rem;
}
.b_t3 a:hover {
  text-decoration: none;
}
.b_t3 .name1 {
  background-position: 0.8rem -1.6rem;
  width: 24.5%;
}
.b_t3 .name1:after {
  display: none;
}
.b_t3 .name2 {
  background-position: 0.8rem 0.02666667rem;
}
.b_t3 .name3 {
  background: none;
}
.b_t3 .name3:before {
  content: "\e6b2";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0.10666667rem;
  width: 100%;
  text-align: center;
  color: rgba(49, 45, 59, 0.38);
}
[data-dpr='1'] .b_t3 .name3:before {
  font-size: 25px;
}
[data-dpr='2'] .b_t3 .name3:before {
  font-size: 50px;
}
[data-dpr='3'] .b_t3 .name3:before {
  font-size: 75px;
}
[data-dpr='4'] .b_t3 .name3:before {
  font-size: 100px;
}
.b_t3 .name4 {
  background-position: 0.8rem -3.33333333rem;
}
.b_t4 {
  width: 100%;
  float: left;
  margin-top: 0.4rem;
}
.b_t4 a {
  background: #548BEE;
  box-shadow: 0 0.08rem 0.32rem rgba(67, 149, 255, 0.4);
  border-radius: 0.10666667rem;
  width: 100%;
  float: left;
  height: 1.12rem;
  line-height: 1.12rem;
  color: #FFFFFF;
  text-align: center;
}
[data-dpr='1'] .b_t4 a {
  font-size: 16px;
}
[data-dpr='2'] .b_t4 a {
  font-size: 32px;
}
[data-dpr='3'] .b_t4 a {
  font-size: 48px;
}
[data-dpr='4'] .b_t4 a {
  font-size: 64px;
}
.b_t4 a:hover {
  text-decoration: none;
}
.b_t5 {
  width: 100%;
  float: left;
  margin-top: 0.32rem;
}
.b_t5 dl {
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
.b_t5 dl:after {
  content: "";
  background: #E7E7E7;
  width: 0.02666667rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 0.26666667rem;
}
.b_t5 dl:first-child {
  width: 24.5%;
}
.b_t5 dl:first-child:after {
  display: none;
}
.b_t5 dt {
  width: 100%;
  float: left;
  color: #312D3B;
  height: 0.58666667rem;
  line-height: 0.58666667rem;
}
[data-dpr='1'] .b_t5 dt {
  font-size: 16px;
}
[data-dpr='2'] .b_t5 dt {
  font-size: 32px;
}
[data-dpr='3'] .b_t5 dt {
  font-size: 48px;
}
[data-dpr='4'] .b_t5 dt {
  font-size: 64px;
}
.b_t5 dd {
  width: 100%;
  float: left;
  color: rgba(49, 45, 59, 0.54);
  margin-top: 0.13333333rem;
  height: 0.45333333rem;
  line-height: 0.45333333rem;
}
[data-dpr='1'] .b_t5 dd {
  font-size: 12px;
}
[data-dpr='2'] .b_t5 dd {
  font-size: 24px;
}
[data-dpr='3'] .b_t5 dd {
  font-size: 36px;
}
[data-dpr='4'] .b_t5 dd {
  font-size: 48px;
}
