@import "less_base";
@font: 37.5rem;
@import "top1";
/*Í¶×ÊÂß¼­*/
.logic{
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: inline-block;
  .logic_ban{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .logic_tt{
     width: 100%;
    padding: 5/@font 4%;
    line-height: 31/@font;
    h2{
      width: 100%;
      display: block;
      color: #548BEE;
      margin: 10/@font 0 0;
      .font-size(34);
    }
    p{
      width: 100%;
      display:inline-block;
      .font-size(30);
      color: #6e6c75;
      margin-bottom: 12/@font;
    }
  }
}