.main {
    margin-top: 60px;
    overflow: hidden;
}

.side_left {
    width: 265px;
    height: 450px;
    float: left;
    background: #F7F8F9;
}

.user {
    width: 100%;
    float: left;
    text-align: center;
    margin: 30px 0px;
}

.user div, .user div img {
    width: 80px;
    height: 80px;
    float: left;
}

.user div {
    border-right: 50%;
    -moz-border-right: 50%;
    -webkit-border-right: 50%;
    -ms-border-right: 50%;
    overflow: hidden;
    margin: 0px 92px 15px 93px;
}

.user p {
    width: 100%;
    height: 22px;
    line-height: 22px;
    float: left;
    font-size: 16px;
    color: #312D3B;
    letter-spacing: 1px;
}

.user span {
    margin-top: 5px;
    width: 100%;
    float: left;
    text-align: center;
}

.user span a {
    color: rgba(49, 45, 59, 0.54);
    font-size: 12px;
    margin-right: -5px;
    position: relative;
}

.user span a i {
    font-size: 14px;
    font-family: "SimSun";
    margin-left: 1px;
    color: #D9D9D9;
    position: absolute;
    line-height: 20px;
}

.side_left ul {
    width: 100%;
    float: left;
}

.side_left ul li {
    width: 100%;
    float: left;
    font-size: 14px;
}

.side_left ul li:first-child {
    border-top: 1px solid #e7e7e7;
}

.side_left ul li a {
    width: 100%;
    float: left;
    color: #312D3B;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 15px;
    cursor: pointer;
}

.side_left ul li a i {
    color: #979797;
    position: absolute;
    right: 0;
    top: 0;
    height: 39px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

.user_click i {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.user_click .user_click_to {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.side_left ul li .user_l_li a {
    padding-left: 30px;
    color: rgba(49, 45, 59, 0.70);
}
/*修改*/
.side_left ul li a:hover, .side_left .u_on {
    background: #548BEE;
    color: #fff !important;
}

.side_left .u_on i, .side_left ul li a:hover i {
    color: #fff;
}
/*修改结束*/


.user_l_li {
    display: none;
    width: 100%;
    float: left;
}

.side_right {
    width: 835px;
    float: left;
    margin-left: 20px;
}

.side_right h1 {
    width: 100%;
    float: left;
    border-bottom: 1px solid #E7E7E7;
    height: 47px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 11px;
    font-size: 20px;
    color: #312D3B;
}

.side_right h1 span {
    float: left;
    border-bottom: 2px solid #548BEE;
    padding-bottom: 4px;
}

/*
修改注释
.user_l_li a:hover, .user_l_li a.th_on {
    background: #eaecee;
}
*/

.sign_man {
    width: 100%;
    padding-top: 40px;
    float: left;
}

.sign_man p {
    width: 100%;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
}

.sign_man p label {
    width: 225px;
    float: left;
    text-align: right;
    color: rgba(49, 45, 59, 0.54);
    font-size: 14px;
    padding-right: 5px;
    margin-right: 10px;
}

.sign_man p label em {
    color: #F64D41;
    margin-right: 5px;
}

.sign_man p input {
    width: 350px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #DDDDDD;
    padding: 0px 15px;
    color: rgba(49, 45, 59, 0.38);
    font-size: 14px;
    background: #f7f7f7;
}

.sign_man button {
    width: 350px;
    height: 48px;
    line-height: 48px;
    float: left;
    margin: 20px 0px 0px 235px;
    cursor: pointer;
    background: #548BEE;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.other_top {
    width: 100%;
    float: left;
    background: #F7F8F9;
    height: 58px;
    line-height: 58px;
    border-bottom: 1px solid #e7e7e7;
}

.other_top ul li {
    float: left;
    padding: 0px 40px;
    font-size: 20px;
    color: rgba(49, 45, 59, 0.54);
    letter-spacing: 1px;
    cursor: pointer;
}

.other_top ul li.o_on {
    border-bottom: 2px solid #548BEE;
    color: #548BEE;
    height: 57px;
}

.other_screen {
    height: 30px;
    line-height: 30px;
    width: 100%;
    float: left;
    margin: 15px 0px;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.54);
}

.other_screen .other_screen_1 {
    float: left;
    margin-right: 90px;
}

.other_screen .other_screen_1 input {
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 10px;
}

.other_screen .other_screen_1 label {
    float: left;
    margin-left: 10px;
}

.other_screen .other_screen_1 a {
    color: rgba(49, 45, 59, 0.54);
    margin-left: 30px;
    cursor: pointer;
}

.other_screen .other_screen_1 a:hover {
    text-decoration: underline;
}

.other_screen .other_screen_2 {
    float: left;
    margin-right: 20px;
}

.other_screen .other_screen_2 em {
    float: left;
}

.other_screen .other_screen_2 input {
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    padding: 0px 8px;
    width: 170px;
    height: 30px;
    line-height: 30px;
    color: rgba(49, 45, 59, 0.54);
    font-size: 12px;
    float: left;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
}

.other_screen .other_screen_2 i {
    width: 10px;
    height: 2px;
    background: #E7E7E7;
    margin: 14px 10px 0px;
    float: left;
}

.other_screen .other_screen_3 {
    position: relative;
    float: left;
    width: 170px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
}

.other_screen .other_screen_3 input {
    position: absolute;
    width: 168px;
    height: 28px;
    line-height: 28px;
    background: #F7F7F7;
    padding: 0px 30px 0px 8px;
    color: rgba(49, 45, 59, 0.54);
    font-size: 12px;
}

.other_screen .other_screen_3 a {
    font-size: 22px;
    cursor: pointer;
    color: rgba(49, 45, 59, 0.17);
    position: absolute;
    z-index: 1;
    right: 4px;
}

.other_table {
    padding-bottom: 40px;
    border-bottom: 1px solid #E7E7E7;
}

.other_table, .other_table table {
    width: 100%;
    float: left;
}

.other_table table, .other_table tbody, .other_table tr, .other_table th, .other_table td {
    padding: 0px;
    list-style: none;
    margin: 0px;
    border: none;
}

.other_table table tr {
    color: rgba(49, 45, 59, 0.54);
    font-size: 14px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e7e7e7;
    height: 60px;
    line-height: 60px;
    text-align: left;
}

.other_table table tr:first-child {
    border-bottom: none;
    height: 36px;
    line-height: 36px;
}

.other_table table tr:nth-child(odd) {
    background: #F7F7F7;
}

.other_table table tr th {
    font-weight: normal;
}

.other_table table tr th, .other_table table tr td {
    float: left;
    margin-right: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.other_table .other_t1 {
    width: 121px;
    margin-left: 26px;
}

.other_table .other_t2 {
    width: 140px;
}

.other_table .other_t3 {
    width: 145px;
}

.other_table .other_t4 {
    width: 80px;
}

.other_table .other_t5 {
    width: 70px;
}

.other_table .other_t6 {
    width: 80px;
}

.other_table .other_t6 a {
    color: rgba(49, 45, 59, 0.54);
    cursor: pointer;
}

.other_table .other_t6 a:hover {
    text-decoration: underline;
}

.other_table .dzf {
    color: #548BEE;
}

.other_table .fail, .other_table table tr td.other_t4 {
    color: #F64D41;
}

.other_tbx {
    width: 1px;
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0px !important;
}

.sign_man p b {
    font-size: 14px;
    margin-left: 15px;
    color: #ff0000;
}

.chpin_h {
    background: #F7F8F9;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 1px solid #DDDDDD;
    color: rgba(-2147483648, -2147483648, -2147483648, 0.54);
    float: left;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.chpin_h span i {
    color: #f64d41;
    padding: 0px 3px;
    font-weight: 900;
    font-size: 13px;
}

.chpin_h em {
    color: rgba(49, 45, 59, 0.38);
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.chpin_t {
    width: 100%;
    float: left;
    height: 90px;
    line-height: 90px;
    border: 1px solid #DDDDDD;
}

.chpin_t ul li {
    width: 162px;
    margin-left: 5px;
    float: left;
    height: 90px;
    cursor: pointer;
}

.chpin_t ul li:first-child {
    margin-left: 0px;
}

.chpin_t_1 {
    width: 40px;
    float: left;
    height: 40px;
    position: relative;
    margin: 24px 0px 0px 25px;
}

.chpin_t_1 span {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    background: url("../images/zhuye4.png") no-repeat 0px 0px;
}

.chpin_t_1 i {
    background: #F54B5E;
    padding:0 3px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    position: absolute;
    left: 28px;
    top: -3px;
    color: #FFFFFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
}

.chpin_t ul li em {
    float: left;
    margin-left: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #312D3B;
}

.chpin_t_1 .chpin_t_m1 {
    background-position: 0px 0px;
}

.chpin_t_1 .chpin_t_m2 {
    background-position: 0px -223px;
}

.chpin_t_1 .chpin_t_m3 {
    background-position: 0px -146px;
}

.chpin_t_1 .chpin_t_m4 {
    background-position: 0px -70px;
}

.chpin_t_1 .chpin_t_m5 {
    background-position: 0px -312px;
}

.chpin_t_1 .chpin_t_m10 {
    background: url("../images/icon_zt_cours2.png") no-repeat;
}

.chpin_t_1 .chpin_t_m11 {
    background: url("../images/icon_zt_cours1 .png") no-repeat;
}

.chpin_t ul li.chpin_t_on, .chpin_t ul li:hover {
    background: #F7F7F7;
    border-bottom: 2px solid #548BEE;
    height: 88px;
}

.chpin_d_2 {
    margin-left: 15px;
}

.chpin_d {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.chpin_d_1 {
    width: 410px;
    float: left;
}

.chpin_d_1 h4 {
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    height: 42px;
    line-height: 42px;
    width: 100%;
    float: left;
    padding: 0px 20px;
}

.chpin_d_1 h4 span {
    font-size: 19px;
    font-weight: 900;
    color: #312D3B;
    letter-spacing: 1px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.chpin_d_1 h4 a {
    float: right;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.38);
}

.chpin_d_1 h4 a em {
    margin-left: 10px;
}

.chpin_d_1_1 {
    width: 100%;
    float: left;
    background: #FFFFFF;
    height: 188px;
    border: 1px solid #E7E7E7;
    padding: 0px 19px;
}

.chpin_d_1_1 h5 {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 19px 0px 4px 0px;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.54);
}

.chpin_d_1_1_1 {
    width: 100%;
    float: left;
}

.chpin_d_1_1_2 {
    width: 230px;
    float: left;
    border-right: 1px solid #E7E7E7;
    height: 40px;
    line-height: 40px;
    margin-top: 3px;
}

.chpin_d_1_1_2 span {
    font-size: 24px;
    margin-right: 10px;
    color: #312D3B;
}

.chpin_d_1_1_2 em {
    font-size: 20px;
    color: #F64D41;
}

.chpin_d_1_1_3 {
    float: left;
    margin-left: 45px;
    width: 95px;
}

.chpin_d_1_1_3 p b {
    width: 100%;
    float: left;
    height: 33px;
    line-height: 33px;
    font-size: 24px;
    color: #3DDC67;
    text-align: center;
}

.chpin_d_1_1_3 p em {
    float: left;
    height: 17px;
    line-height: 17px;
    margin-top: 3px;
    font-size: 12px;
    color: #3DDC67;
}

.chpin_d_1_1_3 p em:first-child {
    margin-right: 17px;
}

.chpin_d_1_2 {
    width: 100%;
    float: left;
    margin-top: 15px;
    border-top: 1px solid #E7E7E7;
    padding-top: 15px;
}

.chpin_d_1_2 ul li {
    width: 50px;
    float: left;
    text-align: left;
    margin-left: 14px;
}

.chpin_d_1_2 ul i {
    width: 1px;
    height: 30px;
    border-right: 1px dashed #DDD;
    float: left;
    margin: 9px 11px 0px 23px;
}

.chpin_d_1_2 ul li p {
    font-size: 12px;
    color: rgba(49, 45, 59, 0.54);
    height: 17px;
    line-height: 17px;
    width: 100%;
    float: left;
}

.chpin_d_1_2 ul li em {
    width: 100%;
    float: left;
    margin-top: 4px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color: #312D3B;
}

.chpin_d_2_a {
    width: 100%;
    float: left;
    margin-top: 16px;
}

.chpin_d_2_a_l {
    width: 170px;
    height: 96px;
    float: left;
    overflow: hidden;
}

.chpin_d_2_a_l img {
    width: 100%;
}

.chpin_d_2_a_r {
    width: 180px;
    float: left;
    margin-left: 20px;
}

.chpin_d_2_a_r h6 {
    width: 100%;
    float: left;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #312D3B;
}

.chpin_d_2_a_r p {
    width: 100%;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.54);
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    margin-top: 10px;
    float: left;
}

.c_longhu {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.c_longhu h5 {
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    height: 42px;
    line-height: 42px;
    padding: 0px 20px;
}

.c_longhu h5 span {
    font-size: 19px;
    font-weight: 900;
    color: #312D3B;
    letter-spacing: 1px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.c_longhu h5 a {
    float: right;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.38);
}

.c_longhu h5 a em {
    margin-left: 10px;
}

.c_longhu_a {
    width: 100%;
    height: 350px;
    background: url("../images/img_product_banner_01.png") no-repeat 0px 0px;
}

.c_longhu_a a {
    width: 200px;
    height: 48px;
    background: #548BEE;
    line-height: 48px;
    color: #fff;
    margin: 227px 0px 0px 27px;
    float: left;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
    padding-left: 34px;
}

.c_longhu_a a i {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-opacity: 0.7;
    position: absolute;
    left: 46px;
    font-size: 30px;
    float: left;
}

.c_longhu_b {
    width: 100%;
    float: left;
    border: 1px solid #DDDDDD;
    padding: 30px 0px;
}

.c_longhu_b ul li {
    width: 190px;
    float: left;
    text-align: center;
    margin: 0px 38px;
}

.c_longhu_bl {
    width: 80px;
    height: 80px;
    float: left;
    background: #7DACFF url("../images/zhuye5.png") no-repeat 1px 1px;
    border: 1px solid #FFFFFF;
    margin: 0px 55px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
}

.c_longhu_b_a1 {
    background-position: 21px 19px;
}

.c_longhu_b_a2 {
    background-position: 20px -48px;
}

.c_longhu_b_a3 {
    background-position: 20px -126px;
}

.c_longhu_b ul li p {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #312D3B;
    line-height: 24px;
    float: left;
}

.c_longhu_b ul i {
    width: 1px;
    height: 90px;
    background: #E7E7E7;
    float: left;
    margin-top: 22px;
}

.c_longhu_z .c_longhu_a {
    background: url("../images/img_product_banner_02.jpg") no-repeat 0px 0px;
}

.c_longhu_b_a4 {
    background-position: 19px -278px;
}

.c_longhu_b_a5 {
    background-position: 18px -350px;
}

.c_longhu_b_a6 {
    background-position: 20px -204px;
}

.c_longhu_z .c_longhu_b ul li p {
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    color: #312D3B;
}

.other_tbxz {
    overflow: visible !important;
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
}

.other_tbxz input {
    position: absolute;
    left: 0px;
    top: 24px;
}

.chpin_tab {
    width: 100%;
    float: left;
    padding: 25px 0px;
    border-bottom: 1px solid #E7E7E7;
}

.chpin_tab ul {
    float: right;
}

.chpin_tab ul li {
    float: left;
    height: 15px;
    line-height: 15px;
    border-left: 1px solid #E7E7E7;
    padding: 0px 15px;
}

.chpin_tab ul li:first-child {
    border: none;
}

.chpin_tab ul li a {
    font-size: 14px;
    color: #312D3B;
    cursor: pointer;
}

.chpin_tab ul li a:hover {
    text-decoration: underline;
}

.chpin_tab .strong {
    font-size: 14px;
    color: #312D3B;
    float: left;
    width: 42px;
    text-align: left;
}

.tab_huik {
    width: 227px;
    padding-right: 0px !important;
}

.tab_tiem {
    width: 170px;
    height: 30px;
    background: #F7F7F7 url("../images/icon_syllabus.png") no-repeat 146px 9px;
    background-size: 14px 14px;
    border: 1px solid #DDDDDD;
    font-size: 12px;
    color: rgba(49, 45, 59, 0.54);
    line-height: 30px;
    padding: 0px 8px;
    float: right;
    position: relative;
    margin-top: -7px;
    cursor: pointer;
}

.tiem_li {
    position: absolute;
    top: 30px;
    width: 170px;
    box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
    -webkit-box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
    -moz-box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
    -ms-box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
    z-index: 11;
    left: 0px;
    display: none;
}

.tiem_li span {
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: rgba(49, 45, 59, 0.70);
    padding-left: 15px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
}

.chpin_t_q span {
    background: url("../images/q_ico2.png") no-repeat 0px 0px;
}

.chpin_t_q .chpin_t_m4 {
    background-position: 0px 0px;
}

.chpin_t_q .chpin_t_m5 {
    background-position: 0px -78px;
}

.chanp_tit {
    width: 100%;
    float: left;
    height: 40px;
    line-height: 28px;
    padding-bottom: 11px;
    border-bottom: 1px solid #E7E7E7;
}

.chanp_tit span {
    float: left;
    font-size: 20px;
    color: #312D3B;
    border-bottom: 2px solid #548BEE;
    padding-bottom: 10px;
}

/*无课程*/
.wukez {
    height: 319px;
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    width: 835px;
    float: left;
    margin-top: 20px;
    padding: 60px 0 0 120px;
}

.wukez h5, .wukez p {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #312D3B;
}

.wukez h5 {
    font-size: 18px;
}

.wukez p {
    font-size: 14px;
}

.wukez p a {
    color: #548BEE;
    margin: 0 3px;
    text-decoration: underline;
}

.wuke_tt .wuke_ta {
    display: inline-block;
    background: #548BEE;
    width: 180px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 40px;
}

/*排序*/
.sort {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #F7F7F7;
    float: left;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sort div {
    float: right;
    margin-right: 20px;
}

.sort div strong {
    color: #312D3B;
    font-size: 15px;
    float: left;
}

.sort div span a {
    float: left;
    height: 30px;
    margin: 10px 0 10px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    padding: 0 12px;
    border: 1px solid #ddd;
}

.sort div span a.srot_on {
    border: 1px solid #548BEE;
    color: #548BEE;
}

.theme_ztkc {
    padding-bottom: 10px !important;
}






