.icon_right_arrow:before {
  content: "\e6d9";
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
/*����*/
.gu_aphbj {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
.gu_tuij {
  width: 8rem;
  height: 10.66666667rem;
  z-index: 22;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  z-index: 900;
}
.gu_tuij .gu_tuij_gb {
  width: 0.8rem;
  float: right;
}
.gu_tuij .gu_tuij_gb i {
  width: 0.8rem;
  height: 0.8rem;
  float: left;
  border-radius: 50%;
  text-align: center;
  line-height: 0.8rem;
  background: #fff;
  color: #312D3B;
}
[data-dpr='1'] .gu_tuij .gu_tuij_gb i {
  font-size: 20px;
}
[data-dpr='2'] .gu_tuij .gu_tuij_gb i {
  font-size: 40px;
}
[data-dpr='3'] .gu_tuij .gu_tuij_gb i {
  font-size: 60px;
}
.gu_tuij .gu_tuij_gb em {
  width: 0.10666667rem;
  height: 0.37333333rem;
  background: #fff;
  float: left;
  margin-left: 0.34666667rem;
}
.gu_tuij .gu_tuij_c {
  width: 8rem;
  float: left;
  background: #fff;
  border-radius: 0.16rem;
  overflow: hidden;
}
.gu_tuij .gu_tuij_c h4 {
  width: 100%;
  height: 2.4rem;
  background: url(../images/banner_t2.png) no-repeat 0 0;
  background-size: 100% auto;
  float: left;
}
.gu_tuij .gu_tuij_c h4 span {
  width: 6.93333333rem;
  float: left;
  margin: 0.8rem 0 0 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #FFF;
}
.gu_tuij .gu_tuij_c h4 span i {
  width: 0.8rem;
  height: 0.8rem;
  float: left;
  border-radius: 50%;
  text-align: center;
  color: #f3bd4c;
  background: #fff;
  margin-right: 0.4rem;
}
[data-dpr='1'] .gu_tuij .gu_tuij_c h4 span i {
  font-size: 19px;
}
[data-dpr='2'] .gu_tuij .gu_tuij_c h4 span i {
  font-size: 38px;
}
[data-dpr='3'] .gu_tuij .gu_tuij_c h4 span i {
  font-size: 57px;
}
[data-dpr='1'] .gu_tuij .gu_tuij_c h4 span em {
  font-size: 16px;
}
[data-dpr='2'] .gu_tuij .gu_tuij_c h4 span em {
  font-size: 32px;
}
[data-dpr='3'] .gu_tuij .gu_tuij_c h4 span em {
  font-size: 48px;
}
.gu_tuij .gu_tuij_c .gu_tuij_c_m {
  width: 100%;
  float: left;
  text-align: center;
  margin: 0.66666667rem 0 0.8rem 0;
}
.gu_tuij .gu_tuij_c .gu_tuij_c_m img {
  width: 4rem;
}
.gu_tuij .gu_tuij_c .gu_tuij_c_m p {
  color: #312D3B;
}
[data-dpr='1'] .gu_tuij .gu_tuij_c .gu_tuij_c_m p {
  font-size: 14px;
}
[data-dpr='2'] .gu_tuij .gu_tuij_c .gu_tuij_c_m p {
  font-size: 28px;
}
[data-dpr='3'] .gu_tuij .gu_tuij_c .gu_tuij_c_m p {
  font-size: 42px;
}
.gu_tuij .gu_tuij_c .gu_tuij_c_ma a {
  width: 100%;
  float: left;
  height: 1.33333333rem;
  background: #F3BD4C;
  text-align: center;
  line-height: 1.33333333rem;
  color: #FFF;
}
[data-dpr='1'] .gu_tuij .gu_tuij_c .gu_tuij_c_ma a {
  font-size: 16px;
}
[data-dpr='2'] .gu_tuij .gu_tuij_c .gu_tuij_c_ma a {
  font-size: 32px;
}
[data-dpr='3'] .gu_tuij .gu_tuij_c .gu_tuij_c_ma a {
  font-size: 48px;
}
.gu_tuij .buy-btn {
  float: left;
  width: 100%;
  height: 1.38666667rem;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.38666667rem;
  background: #F3BD4C;
  border-radius: 0 0 0.16rem 0.16rem;
}
[data-dpr='1'] .gu_tuij .buy-btn {
  font-size: 16px;
}
[data-dpr='2'] .gu_tuij .buy-btn {
  font-size: 32px;
}
[data-dpr='3'] .gu_tuij .buy-btn {
  font-size: 48px;
}
.gu_aphbj_a .gu_tuij_c h4 {
  background: url(../images/zhengj_t1.png) no-repeat 0 0;
  height: 1.86666667rem;
}
.gu_aphbj_a .gu_tuij_c .gu_tuij_c_t {
  width: 7.2rem;
  float: left;
  margin: 0.4rem;
  overflow-y: scroll;
  height: 8rem;
  color: #8f8d95;
  line-height: 0.8rem;
  padding: 0 0.08rem;
}
[data-dpr='1'] .gu_aphbj_a .gu_tuij_c .gu_tuij_c_t {
  font-size: 14px;
}
[data-dpr='2'] .gu_aphbj_a .gu_tuij_c .gu_tuij_c_t {
  font-size: 28px;
}
[data-dpr='3'] .gu_aphbj_a .gu_tuij_c .gu_tuij_c_t {
  font-size: 42px;
}
.gu_aphbj_b .gu_tuij_c h4 {
  background: url(../images/zhengj_t3.png) no-repeat 0 0;
  height: 2.4rem;
}
.gu_aphbj_b .gu_tuij_c h4 span i {
  color: #f3bd4c;
}
/*����*/
.gu_aphbj_g {
  height: 12rem;
}
.gu_aphbj_g .gu_tuij_c h4 {
  background-image: url("../images/filp_ban1.png") !important;
  height: 2.45333333rem !important;
  background-size: 100% 100%;
}
.notice {
  float: left;
  overflow: hidden;
  width: 100%;
  padding: 0 0.53333333rem;
  background: #fff;
  padding-bottom: 0.8rem;
}
.notice .h5 {
  position: relative;
  width: 100%;
  margin-top: 0.8rem;
  text-align: center;
}
.notice .h5 span {
  position: relative;
  z-index: 10;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  height: 0.64rem;
  line-height: 0.58666667rem;
  padding: 0 0.37333333rem;
  letter-spacing: 0.02666667rem;
}
[data-dpr='1'] .notice .h5 span {
  font-size: 14px;
}
[data-dpr='2'] .notice .h5 span {
  font-size: 28px;
}
[data-dpr='3'] .notice .h5 span {
  font-size: 42px;
}
.notice .h5_1 span {
  background: #fef2f2;
  border: 1px solid rgba(246, 77, 65, 0.54);
  color: #F64D41;
}
.notice .h5_2 span {
  background: #f3f7fe;
  color: #548BEE;
  border: 1px solid rgba(84, 139, 238, 0.54);
}
.notice .h5_3 span {
  background: #f0f0f1;
  border: 1px solid rgba(49, 45, 59, 0.17);
  color: #000000;
}
.notice .h5:after {
  content: "";
  width: 100%;
  border-bottom: 1px dashed #DDDDDD;
  position: absolute;
  margin-top: 0.32rem;
  left: 0;
  top: 0;
}
.notice .notice_t {
  width: 100%;
  display: block;
}
.notice .notice_t span {
  display: inline-block;
  width: 50%;
  padding: 0 0.13333333rem;
  height: 0.58666667rem;
  line-height: 0.58666667rem;
  color: #000000;
  margin-top: 0.26666667rem;
  text-align: center;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-dpr='1'] .notice .notice_t span {
  font-size: 13px;
}
[data-dpr='2'] .notice .notice_t span {
  font-size: 26px;
}
[data-dpr='3'] .notice .notice_t span {
  font-size: 39px;
}
