/*µÇÂ¼×¢²á¶¥²¿À¸*/
.head {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.head_l {
    position: absolute;
    left: 5%;
}

.head_l img {
    width: 174px;
    float: left;
    margin-top: 13px;
}

.head_l span {
    float: left;
    margin-left: 25px;
    padding-left: 22px;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #a6b3b9;
    font-size: 18px;
    color: #1c3a52;
    margin-top: 20px;
}

.head_c {
    width: 1190px;
    margin: auto;
    overflow: hidden;
}

.head_c_r {
    float: right;
    width: 100px;
}

.head_c_r i {
    font-size: 26px;
    color: #203f54;
    float: left;
    margin-right: 6px;
}

.head_c_r a {
    color: #203f54;
    font-size: 16px;
    float: left;
    line-height: 86px;
}

.head_c_r a:hover {
    text-decoration: underline;
}

.main {
    width: 100%;
    overflow: hidden;
    zoom: 1;
    position: relative;
    min-width: 1200px;
}

.main_bj {
    width: 1728px;
    height: 899px;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -864px;
    background-image: url("../images/reg_bj.jpg");
    background-repeat: no-repeat;
    float: left;
    background-size: 100% 100%;
}

.main_cen {
    width: 1120px;
    margin: 130px auto 0px;
    position: relative;
}

.main_cen_l {
    width: 720px;
    float: left;
    box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
}

.main_cen_l img {
    width: 100%;
}

.main_cen_r {
    width: 330px;
    height: 405px;
    background: #fff;
    float: left;
    margin-left: 30px;
    position: relative;
}

.main_c_r_w {
    margin-top: 25px;
    float: left;
    width: 100%;
    padding: 0px 16px;
}

.main_c_r_w i {
    width: 32px;
    height: 32px;
    background: #4c8ecb;
    color: #aac8ea;
    line-height: 32px;
    text-align: center;
    float: right;
    margin-right: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}

.mcr_a {
    width: 88px;
    float: left;
    margin-left: 156px;
    height: 24px;
    line-height: 24px;
}

.mcr_a span {
    width: 78px;
    float: left;
    height: 24px;
    background: #b4ccfa;
    text-align: center;
    color: #7281a2;
    font-size: 12px;
}

.mcr_a em {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 7px solid #b4ccfa;
    border-bottom: 5px solid transparent;
    float: left;
    margin-top: 7px;
}

.mc_r_fila {
    background: #fff;
    position: absolute;
    width: 134px;
    height: 134px;
    right: -150px;
    top: 10px;
    display: none;
}

.mc_r_fila img {
    width: 120px;
    float: left;
    margin: 7px;
}

.mc_r_fila i {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 9px solid #fff;
    border-bottom: 6px solid transparent;
    float: left;
    margin-left: -9px;
    margin-top: 25px;
}

.f_by {
    width: 280px;
    float: left;
    margin: 0px 25px;
}

.f_by h2 {
    height: 24px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 6px;
    color: #615f60;
    font-size: 17px;
    letter-spacing: 1px;
}

.by_err, .by_in, .by_ina, .by_inb {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.by_err {
    border: 1px solid #d9d9d9;
    background: #dedede;
    color: #4c8dcb;
    height: 30px;
    line-height: 29px;
    padding: 0px 12px;
}

.by_err i {
    font-size: 20px;
    float: left;
    margin-right: 5px;
}

.by_in input {
    width: 100%;
    float: left;
    border: 1px solid #d9d9d9;
    height: 40px;
    line-height: 40px;
    padding: 0px 5px;
    color: #333;
    font-size: 14px;
}

.by_erz {
    border: 1px solid #fad2d2;
    color: #fff;
    background: #fe0000;
}

.by_ina {
    margin-top: 8px;
    height: 16px;
    line-height: 16px;
}

.by_ina span {
    float: left;
    color: #8d8d8d;
}

.by_ina span input {
    float: left;
    margin: 3px 7px 0px 0px;
}

.by_ina a {
    float: right;
    color: #8d8d8d;
}

.by_ina a:hover, .f_by p a:hover {
    text-decoration: underline;
}

.by_inb {
    margin-top: 5px;
}

.by_inb button {
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #4d8dcb;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.by_hr {
    background: #e7e7e7;
    width: 100%;
    float: left;
    height: 1px;
}

.f_by p {
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: center;
    color: #8d8d8d;
    font-size: 13px;
}

.f_by p a {
    color: #87b1d9;
}

.mian_tt {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 700px;
}








